flask
transformers
datasets
-r https://raw.githubusercontent.com/intro-stat-learning/ISLP_labs/v2/requirements.txt 
sympy
numpy>=1.7.1
scipy>=0.9
pandas>=0.20,<=1.9
lxml
scikit-learn>=1.2
joblib
statsmodels>=0.13
lifelines
ISLP
torch
pytorch_lightning
torchmetrics
torchvision
torchinfo
tensorflow
tf-keras
requests
