<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body style="overflow-y: auto;">
    <header id="header" class="header d-flex flex-column justify-content-center">
        <i class="header-toggle d-xl-none bi bi-list"></i>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container" style="margin-top:30px">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" style="color: #ef4b4c">The Project</h1>
                <p style="color:#173f74">
                    PerfectHouseFinder is a web application designed to help users find their dream homes. Our platform offers a comprehensive search tool that allows users to filter properties based on their preferences, such as location, price range, number of bedrooms, and more. We aim to make the home-buying process as smooth and enjoyable as possible by providing detailed property information, high-quality images, and virtual tours.
                </p>
                </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" style="color: #ef4b4c">The Team</h1>
                <p style="color:#173f74">
                    The team behind PerfectHouseFinder is: Yuri Fung (Full-Stack) and Henry Miller (Backend).
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title" style="color: #ef4b4c">Henry Miller</h1>
                        <p style="color:#173f74">
                            Full-Stack Developer<br>
                            <a href="https://linkedin.com/in/riley-mei" target="_blank">LinkedIn</a>
                        </p>
                        <!-- <img id="self_image" src="{{ images[0] }}" alt="Henry Miller's Image"> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title" style="color: #ef4b4c">Yuri Fung</h1>
                        <p style="color:#173f74">
                            Full-Stack Developer <br>
                            <a href="https://www.linkedin.com/in/yuri-m-fung/ " target="_blank">LinkedIn</a>
                        </p>
                        <!-- <img id="self_image" src="{{ images[1] }}" alt="Henry Miller's Image"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>