<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body style="overflow-y: auto;">
    <header id="header" class="header d-flex flex-column justify-content-center">
        <i class="header-toggle d-xl-none bi bi-list"></i>
        {% include 'nav.html' %}
    </header>

    <div class="container" style="margin-top:30px">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h1 class="card-title textAbout">The Project</h1>
                <p>
                    PerfectHouseFinder is a web application designed to help users find their dream homes. Our platform offers a comprehensive search tool that allows users to filter properties based on their preferences, such as location, price range, number of bedrooms, and more. We aim to make the home-buying process as smooth and enjoyable as possible by providing detailed property information, high-quality images, and virtual tours.
                </p>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h1 class="card-title textAbout">The Team</h1>
                <p>
                    The team behind PerfectHouseFinder is: Yuri Fung (Full-Stack) and Henry Miller (Data Specialist).
                </p>
            </div>
        </div>

        <div class="row">
             <!-- Yuri Fung -->
             <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img id="self-image" src="{{ images[0] }}" class="card-img-top" alt="Yuri Fung's Image">
                    <div class="card-body">
                        <h5 class="card-title textAbout">Yuri Fung</h5>
                        <p class="card-text">
                            Full-Stack Developer, API Integration, Artificial Intelligence, NLP, LLM<br>
                            <a href="https://www.linkedin.com/in/yuri-m-fung/" target="_blank" class="linkedin-btn">
                                <i class="bi bi-linkedin icon-spacing"></i> LinkedIn
                            </a>
                            <a href="https://github.com/SUPERINTIALD" target="_blank" class="github-btn">
                                <i class="bi bi-github icon-spacing"></i> GitHub
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Henry Miller -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img id="self-image" src="{{ images[1] }}" class="card-img-top" alt="Henry Miller's Image">
                    <div class="card-body">
                        <h5 class="card-title textAbout">Henry Miller</h5>
                        <p class="card-text">
                            Datasets and Data Management<br>
                            <a href="https://www.linkedin.com/in/henrymmiller/" target="_blank" class="linkedin-btn">
                                <i class="bi bi-linkedin icon-spacing"></i> LinkedIn
                            </a>
                            <a href="https://github.com/hemi9536" target="_blank" class="github-btn">
                                <i class="bi bi-github icon-spacing"></i> GitHub
                            </a>
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
